.heading {
    font-size: 16px;
    color: #fff;
    padding: 8px 12px;
    text-transform: capitalize;
    background-color: #ce5757;
}
.body {
    font-size: 16px;
    text-transform: capitalize;
    padding: 8px 12px;
}
.wrapper {
    &-box-item {
        background-color: rgb(235, 176, 176);
        height: 280px;
        margin: 15px 0;
    }
}

.wrapper {
    &-button {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    &-button-heading {
        color: #4574d4;
    }
}

.button {
    padding: 8px 25px;
    border: none;
    // border-radius: 25px;
    margin-top: 15px;
    color: #4574d4;
    font-size: 16px;
    text-transform: capitalize;
}

.wrapper-button-heading-todo {
    color: #4574d4;
    text-align: center;
}

.wrapper-box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #d18989;
    font-size: 18px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
}

.wrapper {
    &-form {
        position: fixed;
        bottom: 0;
        right: 30px;
        background: #fff;
        width: 500px;
        height: 400px;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
            0 5px 5px -3px rgba(0, 0, 0, 0.2);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
    }
    &-form-header {
        display: flex;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: space-between;
        align-items: center;
    }
    &-form-heading {
        font-size: 20px;

        color: #fff;
        padding: 5px 9px;
    }
    &-form-icon-close {
        font-size: 16px;
        margin-right: 20px;
        color: #fff;
        cursor: pointer;
    }

    &-form-content {
        width: 100%;
        height: 70%;
        padding: 0 8px;
    }
    &-form-content-title {
        width: 100%;
        height: 30px;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        font-size: 16px;
        color: #333;
    }
    &-form-content-body {
        outline: none;
        font-size: 16px;
        color: #333;
        width: 100%;
        height: 100%;
        border: none;
        resize: none;
        border-bottom: 1px solid #ccc;
        padding: 8px 0;
    }

    &-form-content-button {
        font-size: 16px;
        color: #fff;
        background-color: #4574d4;
        display: inline;
        border: 1px solid #4574d4;
        padding: 6px 28px;
        border-radius: 5px;
    }

    &-form-content-button:hover {
        color: #4574d4;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
    }
}
